body {
	background: linear-gradient(
		135deg,
		#e8cff7 0%,
		#b972e8 24%,
		#8ef4b0 32%,
		#840ad6 50%,
		#c2464e 79%
	);
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.listParent {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("https://images.unsplash.com/photo-1519972064555-542444e71b54?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=606337adfc64bf679dde4763ac385250&auto=format&fit=crop&w=1950&q=80");
	background-size: cover;
	background-position: center;
	border: 1px solid burlywood;
	max-width: 100%;
	width: 25%;
	margin-top: 3rem;
}
ul {
	list-style-type: none;
}
li {
	padding: 10px;
}
label {
	font-weight: 500;
}
.trash {
	margin-bottom: 1rem;
	border: 0;
	background: none;
}
input:checked + label {
	text-decoration: line-through;
}
